/* #region Tablet (sopra 768px) */

@media screen and (min-width: 768px) {

    /* #region Header*/

    #topbar {
        justify-content: flex-start;
    }

    /* #endregion Header*/


    /* #region Main*/

    main {
        padding: 3rem;
    }

    .recipe-origin {
        display: inline;
    }

    .recipe-name {
        font-size: 32px;
    }

    .quick-notes>ul {
        display: flex;
        flex-wrap: wrap;

        li {
            padding: 0 2rem;
            max-width: 40%;
        }

    }

    .social-networks {

        .btn {
            padding: 0.5rem 3rem;
        }
    }

    .ads {
        display: block;
    }

    .clearfix {
        img {
            display: inline;
            float: left;
            margin-right: 0.75rem;

        }

    }

    /* #endregion Main*/


    /* #region Footer*/

    /* #endregion Footer*/

}

/* #endregion Tablet (sopra 768px) */


/* #region Desktop (sopra 992px) */
@media screen and (min-width: 992px) {

    /* #region Main*/

    .recipe-name {
        font-size: 36px;
    }

    .recipe-card {
        display: flex;

        .recipe-video {
            width: 70%;
            height: 40vw;
        }

        .recipe-info {
            width: 30%
        }
    }

    .social-networks {
        .label {
            display: inline;
        }

    }








    /* #endregion Main*/

    /* #region Footer*/

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        address {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            line-height: 0.75rem;
        }
    }

    /* #endregion Footer*/
}

/* #endregion Desktop (sopra 992px) */